.container {
  width: 100%;
  max-width: 1267px;
  margin: 0 auto;
  padding: 0 20px;

  @include vp-768 {
    padding: 0 80px;
  }
  @include vp-1280 {
    padding: 0;
  }

}

.container--no-pading {
  padding: 0;

  @include vp-768 {
    padding: 0 80px;
  }
  @include vp-1280 {
    padding: 0;
  }
}
